body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin: 20px 0 0 0;
}

a, a:visited {
	color: #1872E7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	margin: 0;
}

/*
* Post Formatting
*/

.post {
	text-align: justify;
}

.post h3 {
	margin-bottom: 0;
}

.post span.date {
	color: #888;
	margin-bottom: 20px;
	display: block;
}

.post pre {
	background-color: #efefef;
	padding: 10px;
	margin-bottom: 20px;
	overflow: auto;
}

.post code {
	margin-bottom: 0px;
}

.post div.media {
	text-align: center;
}

/*
* Post Archive
*/

ul.post-list {
	list-style-type: none;
}

ul.post-list span {
	color: #888;
}

/*
* Format the RSS subscription link
*/

div.subscribe {
	line-height: 12px;
	font-size: 12px;
	vertical-align: middle;
}

div.subscribe a {
	color: #5e5e5e;
}

div.subscribe img {
	margin-bottom: 2px;
	vertical-align: middle;
}

/*
* Add spacing and alignment to footer
*/

div.footer {
	font-size: 12px;
	margin-bottom: 20px;
}

div.footer span {
	float: right;
}

div.footer hr {
	margin-bottom: 5px;
}

.twitter-follow-button {
	margin-bottom: 10px;
}