body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
}

a:focus {
  outline: 1px dotted
}

hr {
  border:0 #ccc solid;
  border-top-width:1px;
  clear:both;
  height:0
}

h1 {
  font-size:28px
}

h2 {
  font-size:24px
}

h3 {
  font-size:22px
}

h4 {
  font-size:20px
}

h5 {
  font-size:18px
}

h6 {
  font-size:16px
}

ol {
  list-style:decimal
}

ul {
  list-style:disc
}

ol, ul {
  padding-left: 20px;
}

li {
  margin-left:30px
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom:20px
}