.twtr-widget {
    margin-top: 20px;
}

.twtr-widget .twtr-hd,
.twtr-widget .twtr-ft {
    display: none;
}

.twtr-widget .twtr-tweet {
    border: 0 none !important;
}

.twtr-widget .twtr-tweet-wrap {
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
