---
layout: default
title: Home
---

{% for post in site.posts offset: 0 limit: 3 %}
    <div class="post">

    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <span class="date">{{ post.date | date: "%A, %B %d, %Y" }}</span>

    {{ post.content }}

    <span class="comments-link"><a href="{{ post.url }}#disqus_thread" 
        data-disqus-identifier="{{ post.url }}" rel="nofollow">View Comments</a></span>

    {% if forloop.last == false %}
    <hr/>
    {% endif %}

    </div>
{% endfor %}