---
layout: default
title: Giovanni Cappellotto's Blog
description: A place where I write posts about different matters.
---

<header>
  <h1><a href="{{ site.url }}/">{{ page.title }}</a></h1>
</header>

{% include menu.html %}

<h2>Archive</h2>

<div>
  <ul class="unstyled">
    {% for post in site.posts %}
      <li>
        <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>
          {{ post.date | date: "%B %e, %Y" }}
        </time>
      </li>
    {% endfor %}
  </ul>
</div>
