<div class="form">
  I will pay $
  <input id="principal" type="text" placeholder="500000" />
  in
  <input id="time_years" type="text" placeholder="15" />
  years starting from
  <input id="start_date" type="text" placeholder="05/2019" />
  with an annual interest rate of
  <input id="interest_rate" type="text" placeholder="3.5" />
  %
</div>

<div id="pre_payments">
  <h2>Pre-payments</h2>
  <div id="pre_payment_forms"></div>
  <button id="add_pre_payment">Add pre-payment</button>
</div>

<div id="output_summary"></div>
<div id="output_schedule"></div>

<script type="text/javascript" src="{{ '/javascripts/mortgage.js' | relative_url }}"></script>
<script type="text/javascript">
  var head = document.getElementsByTagName('head')[0];
  var link = document.createElement('link');
  link.href = "{{ '/mortgage/style.css' | relative_url }}";
  link.media = 'screen';
  link.type = 'text/css';
  link.rel = 'stylesheet';
  head.appendChild(link);
</script>
