@font-face {
  font-family: 'Dia';
  src: url('/assets/fonts/Dia-Regular.eot');
  src: url('/assets/fonts/Dia-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Dia-Regular.woff') format('woff'); }

@font-face {
  font-family: 'Sectra';
  src: url('/assets/fonts/GT-Sectra-Book.eot');
  src: url('/assets/fonts/GT-Sectra-Book.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/GT-Sectra-Book.woff') format('woff'), url('/assets/fonts/GT-Sectra-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Sectra';
  src: url('/assets/fonts/GT-Sectra-Book-Italic.eot');
  src: url('/assets/fonts/GT-Sectra-Book-Italic.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/GT-Sectra-Book-Italic.woff') format('woff'), url('/assets/fonts/GT-Sectra-Book-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Sectra';
  src: url('/assets/fonts/GT-Sectra-Medium.eot');
  src: url('/assets/fonts/GT-Sectra-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/GT-Sectra-Medium.woff') format('woff'), url('/assets/fonts/GT-Sectra-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal; }
