html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: Inconsolata, monospace;
  color: #333333;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 112.5%;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

a,
a:hover,
a:active {
  color: #333333;
}

a:visited {
  color: #666666;
}

h1 a,
h1 a:visited {
  color: #333333;
  text-decoration: none;
}

p {
  line-height: 24px;
  margin: 24px 0;
}

ul, ol {
  margin-top: 20px;
  padding-left: 30px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

nav {
  font-family: 'Lato', sans-serif;
}

nav li {
  display: inline;
  margin-right: 5px;
}

li {
  margin-bottom: 20px;
}

time {
  font-size: 75%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: 'Courier', monospace;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

pre {
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
}

pre > code {
  padding: 0;
  border: 0 none;
  white-space: pre;
}

q, blockquote {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;

  font-style: italic;
  border-left: 6px solid #EAEAEA;
  padding-left: 15px;
}

hr {
  height: 1px;
  margin: 2em 0 3em 2em;
  text-align: center;
  border-color: #777;
  border-width: 0;
  border-style: dotted;
  font-style: normal;
}

hr:after {
  content: "•••";
  letter-spacing: 2em;
}

img, video, canvas {
  max-width: 100%;
}

article header {
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  font-size: 75%;
}

footer * {
  display: inline;
}

.footnotes {
  font-style: italic;
}

.footnotes p {
  margin-bottom: 6px;
}

.clearfix {
  overflow: hidden;
  clear: both;
}

#container {
  margin: 0 auto;
  padding: 20px;
  width: 560px;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width:825px) {
  #container {
    width: auto;
    max-width: 100%;
  }
}
