html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  color: #333;
  font-size: 18px;
  font-family: -apple-system, sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 112.5%;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  line-height: 24px;
  margin: 24px 0;
}

ul, ol {
  margin-top: 20px;
  padding-left: 40px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  margin-bottom: 20px;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline;
  margin-right: 5px;
}

nav.menu li {
  display: inline;
}

time {
  font-size: 75%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code, pre {
  border: 1px solid #DDD;
  background-color: #EEE;
  border-radius: 3px;
}

code {
  font-family: monospace;
  padding: 0 5px;
  white-space: nowrap;
}

pre {
  padding: 10px;
  overflow: auto;
}

pre > code {
  padding: 0;
  border: 0 none;
  white-space: pre;
  line-height: 1.4em;
  background-color: transparent;
}

q, blockquote {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;

  font-style: italic;
  border-left: 6px solid #EAEAEA;
  padding-left: 15px;
}

hr {
  height: 1px;
  margin: 2em 0 3em 2em;
  text-align: center;
  border-color: #777;
  border-width: 0;
  border-style: dotted;
  font-style: normal;
}

hr:after {
  content: "•••";
  letter-spacing: 2em;
}

img, video, canvas {
  max-width: 100%;
}

article header {
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  font-size: 75%;
}

footer nav.menu {
  position: initial;
}

footer nav.menu li {
  display: inline;
}

p.categories {
  font-size: 75%;
  margin: 0;
}

#container {
  margin: 0 auto;
  padding: 20px;
  width: 640px;
}

@media screen and (max-width:825px) {
  #triangles {
    width: 100%;
  }

  #container {
    width: auto;
    max-width: 100%;
  }
}
