<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <title>{% if page.categories.size > 0 %}{{ site.data.categories[page.categories.first].name }} - {% endif %}{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheets/reset.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheets/highlight.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheets/style.css' | relative_url }}" />
  <link rel="alternate" type="application/rss+xml" href="{{ '/atom.xml' | relative_url }}" title="Giovanni Cappellotto's Blog" />
</head>

<body>
  <div id="container">
    {% include menu.html %}

    {{ content }}

    <footer>
      {% include menu.html %}

      <p>
        &copy; {{ site.time | date: '%Y' }} Giovanni Cappellotto
        [<a href="{{ site.source_url }}">source</a>]
      </p>
    </footer>
  </div>
</body>
</html>
