---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>

    {% include time.html post=page %}
    {% include categories.html post=page %}
  </header>

  {% if page.categories.size > 0 and site.data.categories[page.categories.first] and site.data.categories[page.categories.first].intro %}
    <p class="intro">
      {{ site.data.categories[page.categories.first].intro }}
    </p>
  {% endif %}

  {{ content }}
</article>

{% if page.discussion %}
  <h4 class="discussion">
    Discussion on <a href="{{ page.discussion.url }}">{{ page.discussion.name }}</a>
  </h4>
{% endif %}

{% if page.next.url %}
  <h4 class="next">
    Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
  </h4>
{% endif %}
